nav.navbar {
  height: 80px;
  background-color: #f8f8f8;
  border-bottom: 2px solid #e7e7e7;
  font-family:'Open Sans', Arial, sans-serif;
  font-size:14px;
  font-weight:300;
  line-height:1.6em;
  color:#fff;
  background-color:#fff;
  overflow-x:hidden;

  .navbar-nav > li.nav-item > a.active {
    color: #1BBD36;
    border-radius:0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
}

.nav-item.active > a {
  color: #1BBD36;
  border-radius: 0;
}

.carousel-item {
  height: 730px;
}

a.active {
  color: #1BBD36;
}

#carouselControls {
  height: 730px;
}

footer {
  background: #282828;
  color: #7C7C7C;
  p {
    color: #7C7C7C;
  }
}

.section {
  padding: 80px;
}

footer .small-title {
  margin-bottom: 30px;
  color: #fff;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer ul li {
  line-height: 25px;
}
footer ul li a {
  color: #999;
}
footer ul li.tweet {
  margin-bottom: 15px;
}
footer ul li.tweet .fa-twitter {
  padding: 5px;
  color: #fff;

  border-radius: 100%;
  width: 24px;
  height: 24px;
}
footer ul li.tweet .tweet-date {
  font-size: 12px;
  font-style: italic;
  color: #bdc3c7;
}
footer .plain-flicker-gallery {
  margin-right: -5px;
  margin-left: -5px;
}
footer .plain-flicker-gallery a {
  display: inline-block;
  width: 32%;
  font-size: 0px;
  padding: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer .plain-flicker-gallery a:hover {
  opacity: 0.7;
}
footer .plain-flicker-gallery a img {
  width: 100%;
}
footer .contact-us .form-control {
  color: #999;
  font-size: 14px;
  background: #1D1D1D;
  border-radius: 0px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer #copyright {
  background: #1D1D1D;
}
footer #copyright .row {
  padding: 15px 0;
}
footer #copyright .copyright-text,
footer #copyright .nav-inline {
  margin-top: 15px;
}
.social-footer a .fa {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  margin: 4px;
  width: 35px;
}

label {
  color:#333;
}

.product-tile{
  text-align: center;
  .product-tile-description {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}