.product-tile {
  height: 360px;
}

.product-title {
  height: 30px;
}

.product-description {
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  height: 20px;
}

.product-cart-add {
  height: 20px;
}