.product-tile {
  height: 360px;
}

.product-title {
  height: 30px;
}

.product-description {
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  height: 20px;
}

.product-cart-add {
  height: 20px;
}

.checkout-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkout-item-small {
  padding: 0px;
}

.checkout-title {
  color: white;
}

.checkout-cart-header {
  background-color: #343a40 !important
}

.checkout-name {
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden
}

small.checkout-description {
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden
}
.checkout-total {
  border-top: 2px solid black;
}